body {
    background-color: #cadeef;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    min-height: 100vh;
} 

.calc-container {
    width: 350px;
    height: 550px;
    background-color: skyblue;
    border: 2px solid;
    border-color: #0784b5;
    border-radius: 20px;
    padding: 5px;
    font-family: 'Chakra Petch', sans-serif;
    box-shadow: lightblue 5px 5px;
}

.calc-screen {
    height: 106px;
    border: 2px solid;
    border-radius: 20px;
    border-color:#0784b5;
    padding: 5px;
    margin: 5px;
    background-color: #9bd4e4;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
}

.calc-screen-text-prev {
    font-size: 30px;
    color: white;
    font-family: inherit;
    opacity: 50%;
}

.calc-screen-text-curr {
    font-size: 40px;
    color: white;
    font-family: inherit;
}

.calc-button {
    height: 80px;
    width: 80px;
    border-radius: 40px;
    margin: 2px;
    border: 2px solid;
    border-color: #0784b5;
    fill: 	#9bd4e4;
    cursor: pointer;
    font-family: inherit;
    background-color: #9bd4e4;
    font-size: 20px;
    color: white;
}

.calc-button:hover {
    background-color: #0784b5;
}

.calc-button:active {
    opacity: 0.6;
}

#long-0 {
    height: 80px;
    width: 167px;
    border-radius: 40px;
    margin: 2px;
    border: 2px solid;
    border-color: #0784b5;
    cursor: pointer;
    font-family: inherit;
    background-color: #9bd4e4;
    font-size: 20px;
    color: white;
}

#long-0:active {
    opacity: 0.6;
}

#long-0:hover {
    background-color: #0784b5;
}